.introduceForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
}

.introduceForm > .introContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduceForm > .introContent > textarea {
    width: 200%;
    height: 600px;
    font-size: 25px;
    resize: none;
}

.introduceForm > .submitBtn >  {
    
}
.introduceForm > .submitBtn > button  {
    width: 230px;
    height: 70px;
    border-radius: 15px;
    border: none;
    background-color: rgb(40, 102, 173);
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s;
}
.introduceForm > .submitBtn > button:hover {
    background-color: rgb(18, 81, 154);
}