.login-input {
    display: flex;
    flex-direction: column;
}

.login_logo {
    width: 300px; /* 원하는 너비로 설정 */
    height: auto; /* 비율을 유지하면서 높이 조절 */
    margin-bottom: 100px; /* 문구와의 간격 */
}

.welcome-message {
    text-align: center;
}