.posts-list {
    margin: 0;
}

.reference-post {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.reference-post button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reference-post button:last-child {
    background-color: #FF6347; /* 삭제 버튼은 빨간색 */
}

.reference-post button:hover {
    opacity: 0.8;
}

.selected-post {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f1f1f1;
}


.reference-board {
    width: 100%;
}
.posts-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 40px 0;
}

.posts-list > .reference-post {
    width: 80%;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 9%);
}
.posts-list > .reference-post:hover {
    transform: scale(1.01);
}

.posts-list > .reference-post > .reference-content {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 10px 0;
}
.posts-list > .reference-post > .reference-meta {
    margin: 5px 0;
}


.reference-board > .post-button {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.reference-board > .post-button > .wrapper {
    
}

.reference-board > .post-button > .wrapper > button {
    width: 150px;
    height: 50px;
    background-color: #3579F6;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    font-size: 17px;
    transition: all 0.3s;
    color: white;
}

.reference-board > .post-button > .wrapper > button:hover {
    background-color: #1462f4;
}
